/DATA_Signal_X_PSI2S_MLsel.root
/renameBranches.C
/renameTree.C

*.root
*.txt
*.pdf
*.log
*.tex
*.log
*.aux
*.out
*.err
*.sub
/plotER/Validation/COMPARE/**/*.csv
/plotER/Validation/WEIGHTS/*.json
/fitER/results/ppRef/x_reweighted_working_points/
/fitER/ROOTfiles/ppRef/x_reweighted_working_points/
/fitER/results/ppRef/x_reweighted_working_points_matched_mc/
/fitER/ROOTfiles/ppRef/x_reweighted_working_points_matched_mc/
/selectionER/ntmix_optimalCUT/x_punzi_comparison/
/selectionER/x_punzi.*.local.conf
/fitER/results/ppRef/x_punzi_optimal_comparison/
/fitER/ROOTfiles/ppRef/x_punzi_optimal_comparison/
/fitER/results/ppRef/x_rw0_cut_scan/
/fitER/ROOTfiles/ppRef/x_rw0_cut_scan/
/fitER/results/ppRef/x_r5_cut_scan/
/fitER/ROOTfiles/ppRef/x_r5_cut_scan/
/plotER/results/PbPb24/psi2s_selection_mass_scan/
/fitER/results/PbPb_H004*/
/fitER/ROOTfiles/PbPb_H004*/
/plotER/Validation/H004/
/fitER/results/PbPb_H004_S2/
/fitER/results/PbPb_H004_S3/
/fitER/ROOTfiles/PbPb_H004_S2/
/fitER/ROOTfiles/PbPb_H004_S3/
/plotER/Validation/H004/
/selectionER/ntmix_optimalCUT/x_punzi_comparison/
/selectionER/x_punzi.*.local.conf
/fitER/results/ppRef/x_punzi_optimal_comparison/
/fitER/ROOTfiles/ppRef/x_punzi_optimal_comparison/
/fitER/results/ppRef_X_loose_fiducial_feasibility/
/fitER/ROOTfiles/ppRef_X_loose_fiducial_feasibility/
/fitER/results/ppRef_X_r5_fiducial_feasibility/
/fitER/ROOTfiles/ppRef_X_r5_fiducial_feasibility/
/fitER/results/PbPb_H010*/
/fitER/ROOTfiles/PbPb_H010*/
/fitER/results/PbPb_H011*/
/fitER/results/PbPb_H012*/

selectionER/.venv*/
selectionER/.envs/
selectionER/condor_logs/
selectionER/xgb_outputs/
selectionER/archived_optuna_runs/
selectionER/*.json
selectionER/ML_xgboost/.envs/
selectionER/ML_xgboost/condor_logs/
selectionER/ML_xgboost/xgb_outputs/
selectionER/ML_xgboost/scored_samples/
selectionER/ML_xgboost/archived_optuna_runs/
selectionER/ML_xgboost/*.json
__pycache__/
*/__pycache__/
*_C.d
*_C.so
*_C_ACLiC_dict_rdict.pcm
*_C_ACLiC_dict*.h
*_C_ACLiC_dict.cxx_tmp_*
.envs/
selectionER/optimalCUT.local.conf
.manifest_runs/

/plotER/Validation/results/ppRef_X_r5_splot/
